@import "./Normalize.css";
@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
    font-family: Roboto, 'Helvetica';
}

/* :root * {
    border: 2px solid black;
} */

body {
    /* font-family: Arial, sans-serif; */
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

h1 {
    padding: 0;
    margin: 0;
}

header {
    width: 100vw;
    background-color: #b9b9b7;
    color: #19232a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 1.1rem 0;
}

header>.contact-link {
    color: black;
    text-decoration: none;
    background-color: #3589d4;
    text-align: center;
    height: 6vh;
    padding: 0 20%;
    text-align: center;
    display: flex;
    align-items: center;
    margin: .5rem 0;
    font-size: 1.3rem;
}

.contact-link>img {
    height: 80%;
    margin-right: .15rem;
}

header>.contact-link:hover {
    color: white;
    background-color: #5ea0ec;
}

.logo {
    height: 11vh
}

.about-us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #f4f4f4;
    padding: 1rem;
    flex: 1;
    margin: 1.3rem;
    border-radius: .5rem;
    font-size: 1.2rem;
}

.text-wrapper {
    max-width: 56vw;
}

.tab img {
    height: 6vh;
}

.icon {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b9b9b7;
    height: 5rem;
    width: 5rem;
    margin: .90rem 0;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3589d4;
    padding: .80rem;
    flex: 1;
    margin: 1.3rem;
    border-radius: .5rem;

}


.tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;

    font-size: 1.2rem;
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: .5rem;
    width: 18rem;
    height: 10rem;
    margin: 1.5rem 0;
}

.tab a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #3589d4;
    text-align: center;
}

.oras {
    text-align: center;
}

.title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin: 1.3rem 0 .8rem;
    background-color: #3589d4;
    border-radius: 1rem;
    padding: .5rem;
    width: min(calc(45vh + 1rem), 100%);
}

.video-wrapper {
    display: flex;
    justify-content: center;
}

video {
    height: 60vh;
    background-color: #3589d4;
    padding: 1rem;
    border-radius: .5rem;
}

.contact-video {
    height: 80vh;
    margin-bottom: 1.3rem;
}

footer {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b9b9b7;
    text-align: center;

}

@media (max-width: 800px) {
    .about-us {
        justify-content: center;
    }
}